#root {
  width: 400px;
  height: 400px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}
.container input {
  padding: 15px 28px;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgb(205, 201, 201);
}
.container > button {
  padding: 10px 20px;
  background-color: rgb(239, 228, 109);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.container-fluid {
  color: black;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container-fluid p {
  padding: 5px 15px;
  background-color: rgb(174, 40, 13);
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
